.button {
    background: $shallow-green;
    color: $white;
    border:none;
    border-radius: 30px;
    font-size: $l-font-size;
    font-weight: 500;
    line-height: 1;
    padding: $xs-size $s-size;
    margin: $xs-size 0 $xs-size 0;
    text-decoration: none;
    display: inline-block;
};
.button>i {
    padding-right: $s-size;
};

.button:hover {
    background: darken($shallow-green,8%);
};

.button--link {
    background: none;
    color:$white;
    border: none;
    font-size: $l-font-size;
};

.button--link:hover {
    text-decoration: underline;
};

.button--link>i {
    padding: 0 $s-size;
};

.button--remove {
    @extend .button;
    background: $gray;
};

.button--remove:hover {
    background: darken($gray,8%);
};