*, *:before, *:after {
    box-sizing: border-box;
  }
  
html {
    font-size: 62.5%;
}

body {
    font-family: $font;
    font-size:$m-size;
    color: $dark-brown;
    line-height: 1.6;
}

button {
    font-family: $font;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}