html {
    font-size: 62.5%;
}

body {
    font-family: $font;
    font-size:$m-size;
}

button {
    font-family: $font;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

// 暫時設定
p {
    font-size:$m-size;
}
h1 {
    font-size: $l-size;
}
.is-active {
    color:coral;
    font-weight: bold;
}